* {
    font-family: 'Adwaita';
}

body {
    background-color: rgb(0, 0, 0);
    
    z-index: 1;
}

header {
    background-color: black;
    padding: 10px;
}

.preview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preview > a > img {
    width: 60px;
}

.preview > h1 {
    font-size: 150%;
    font-family: 'Adwaita';
    color: white;
}

.list {
    color: white;
}