@import url('./reset.css');

.preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.preview > a > img {
    width: 60px;
}

.preview > h1 {
    font-size: 150%;
}