@import url('./reset.css');
@import url('./fonts.css');

* {
    font-family: 'Adwaita';
}

.preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.preview > a > img {
    width: 60px;
}

.preview > h1 {
    font-size: 150%;
}